/* Import: Comic Sans MS da Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Comic+Sans+MS&display=swap");

body {
    margin: 0;
    font-family: "Comic Sans MS", cursive;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}
